*{box-sizing: border-box;margin: 0; padding: 0;border:0;outline: none;font-style: normal;}
ul{list-style: none;}
a { text-decoration: none; color: #369; }
/*html,body{min-height: 100%;overflow: hidden;overflow-y: scroll;}*/
body {background: #f2f3f4;color: #999; font: 12px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;}
main,article,nav{margin:auto;max-width: 1000px;}
main,article{overflow: hidden;margin-top: 62.5px}
/*main{}*/
input::-webkit-input-placeholder { color: #ccc; }
:focus { outline: none; }
::-webkit-search-cancel-button { display: none; }
::-webkit-scrollbar {display: none;}
header{box-shadow: 0 0 10px #ddd;top: 0;background-color: #fff;position: fixed;width: 100%;z-index: 9 }
nav{padding: 0 12.5px;justify-content: space-between;height: 50px;display: flex;flex-flow: row;align-items: center;}
nav i,nav h1{display: none;}
nav .iconfont{font-size:20px;}
nav input{height: 30px;text-align: center;border-radius: 30px;background-color: #efefef;padding: 0 12.5px;color: #ccc;}
nav>ul{display: flex;padding: 5px;}
nav>ul>li{padding: 7.5px;}
nav>ul>li>a{color: #000}
nav>ul>li.curr>a{color: #f80}

#home{display: flex;flex-flow: row wrap;justify-content: space-between;}
#home>dl{width: 750px;}
#home>dl>dd{width: 148px;}
/*#home>dl>dd>p{width: 123px}*/
#home>dl>dd>a{height: 175px;}
#home>aside{width: 237.5px;}



.choice{position: relative;align-items: center;background-color: #fff;display: flex;flex-flow: row wrap;padding: 12.5px 12.5px 0;font-size: 14px;}
.choice *{padding:2.5px 10px;}
.choice a.curr{opacity: .8;background: #258dcd;color: #fff;border-radius: 2.5px;}
.choice i{display: none;}

dl{display: flex;flex-flow: row wrap;padding: 5px;margin-bottom:12.5px;background-color: #fff }
dl>dt{width: 100%;padding: 7.5px;}
dl>dd{position: relative;width: 165px;padding: 7.5px;overflow: hidden;display: flex;flex-flow:row wrap;}
dl>dd>a{width: 100%;height: 200px;display: block;background-size: 100% ;background-position: center center;position: relative;}
dl>dd>a>em{position: absolute;top:0px;right: 10px;background-color: #f80;color: #fff;padding: 2.5px 5px;font-size: 12px;border-radius: 0 0 5px 5px;}
dl>dd>div{min-height: 43px;width: 100%;padding:5px;background-color: #f8f8f8;}
dl>dd>div>p{word-break: keep-all;white-space: nowrap;overflow: hidden;}
dl>dd>div>p:first-of-type{font-size: 14px;color: #333}
dl img{display: none;}


#mk{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
#mk i{width: 50px;height: 50px;}
#mk i svg{fill: #fff}

aside{padding: 5px;background-color: #fff;margin-bottom:12.5px;}
aside>h2{padding: 7.5px;display: flex;align-items: center;justify-content: space-between;padding-bottom: 10px}
aside>div{background:#efefef;height: 150px;text-align: center;line-height: 150px;}
aside>ol{list-style-position:inside;list-style-type: cjk-ideographic;}
aside>ol>li{line-height: 24px;margin: 7.5px}
aside>ol>li>i{float: right;}
aside>ol>li:nth-child(1)::marker{color: #f40;}
aside>ol>li:nth-child(2)::marker{color: #f60;}
aside>ol>li:nth-child(3)::marker{color: #f80;}
aside>ol>li:nth-child(4)::marker{color: #fb0;}


article{position: relative;}
#player{width: 100%;height: 562.5px;margin-bottom: 12.5px;background-color: #000}
article h2{color: #333}
.info {display: flex;flex-flow: row wrap;background-color: #fff; padding:  12.5px;margin-bottom: 12.5px;}
.info h1{margin-bottom: 10px;color: #333}
.info h1>em{color: #072;float: right;font-weight: 100;font-size: 14px;}
.info ul{flex: 1;font-size: 14px;}
.info ul li{margin-bottom: 8px;height: 20px;overflow: hidden;}
.info>.logo{border-radius: 5px;background-size: 100%;width: 210px;height: 280px;margin-right: 20px;}
.info img{display: none;}
.info .play{background-color: #f80;color: #fff;padding:7.5px 15px;display: inline-block;border-radius: 5px;}
.info .desc{position: relative;margin-top: 12.5px;line-height: 2;
    font-size: 14px;
    text-indent: 2em;
    background: #eee;
    padding: 0 1em;
    border-radius: 5px;width: 100%;height: 10em;overflow: hidden;}
.info .show{height: unset;}
.info i{background-color: #eee;display: block;color: #072;position: absolute;right: 1em;bottom:0em;}
.tabs{padding:5px;margin-bottom: 12.5px;background-color: #fff}
.tabs>h2,.tabs>.tab{padding: 7.5px;}
.tabs .tab{display: flex;padding-top: 12.5px}
.tabs .tab li{margin-right: 12.5px;display: flex;align-items: center;}
.tabs .tab li>img{width: 17px;height: 17px;margin-right: 3px;}
.tabs>.tab>li.active{color: #f80;}
.tabs .content>.active{display: flex;flex-flow: row wrap;}
.tabs .content>li>a{margin: 7.5px;border:1px solid #369;border-radius: 2.5px;padding: 5px 10px;}
.tabs .content>li>a.active{color: #f80;border-color: #f80}
article>.left{width: 750px;float: left;}
article>.right{width: 237.5px;float: right;}
article dl>dt{padding-left: 12.5px;}
article dl>dd{width: 185px}
article dl>dd>a{height: 100px;border-radius: 5px;}

#pager{display: flex;flex-flow: row;justify-content: center;margin-bottom: 12.5px}
#pager>li{padding: 7.5px 15px;margin: 0 7.5px;background-color: #fff;}

#search nav input{display: block;}
@media screen and (max-width: 1000px) {
    main,article,nav{width:835px; }
    article dl>dd{width: 205.25px;}
    article>.left{width: 100%;}
    article>.right{display: none;}


    #home>dl{width: 100%;}
    #home>dl>dd{width: 165px;}
    #home>dl>dd>a{height: 200px;}
    #home>aside{display: none;}

    #player{height: 469.6875px;}
}
@media screen and (max-width: 835px) {
   main,article,nav{width:670px; }
   article dl>dd{width: 165px;}
   #player{height: 376.875px;}
   #home dl>dd:nth-child(10){display: none;}
   #home dl>dd:nth-child(11){display: none;}
   
   
}
@media screen and (max-width: 670px) {
   main,article,nav{width:505px; }
   #home dl>dd:nth-child(10){display: unset;}
   #player{height: 284.0625px;}
   .choice{height: 35px;overflow: hidden;padding-right: 30px;}
   .show{height: auto;padding-right:12.5px }
   .choice i{background-color: #fff;display: block;cursor: pointer;position: absolute;right: 0}
   .show i{position: unset;right: unset;}
}

@media screen and (max-width: 505px) {
   main,article,nav{width:100%; }
   main,article{margin-top: 100px;}
    nav>ul{
        position: fixed;
        top: 50px;
        background: #fff;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
    }
   
    #home>dl>dd{width: 33.33%}
    #home>dl>dd>a,dl>dd>a{height: 40vw;}
    dl>dd,article dl>dd{width: 33.33%;}
    nav i,nav h1{display: unset;}
    nav>input{display: none;}
    .info>.logo{width: 120px;height: 150px;}
    .info .play{display: none;}
    .info ul li{margin-bottom: unset;}
    .info ul li:nth-child(8){display: none;}
    .info .desc{height: 8em}

    #player{height: 56.25vw;}

}

/*选项卡*/
.tabs>.tab>*{cursor: pointer;}
.tabs>.content>li {display: none;}

