*{box-sizing: border-box;margin: 0; padding: 0;border:0;outline: none;font-style: normal;}
ul{list-style: none;}
a { text-decoration: none; color: #369; }

body {margin:60px auto 0 auto;background: #f2f3f4;color: #999; font: 12px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;}
main,nav{margin:auto;max-width: 1000px;}
main,article{overflow: hidden;padding-top: 1%}
main{display: flex;flex-flow: row wrap;justify-content: space-between;}
section{width: 75%;}
aside{width: 24%;}
input::-webkit-input-placeholder { color: #ccc; }
:focus { outline: none; }
::-webkit-search-cancel-button { display: none; }
::-webkit-scrollbar {display: none;}
header{box-shadow:0 20px 50px rgba(0,0,0,.25);top: 0;left: 0;background-color:#fff;position: fixed;width: 100%;z-index: 9 }
nav{justify-content: space-between;height: 60px;display: flex;flex-flow: row;align-items: center;}
nav img{height: 40px;}
/*nav i,nav h1{display: none;}*/
nav .iconfont{font-size:20px;padding: 0 5px;cursor: pointer;}
nav input{height: 40px;text-align: center;border-radius: 30px;background-color:rgba(0,0,0,.025);padding: 0 12.5px;color: #ccc;}
nav>ul{display: flex;padding: 5px;flex: 1}
nav>ul>li{padding: 7.5px;}
nav>ul>li>a{color: #000}
nav>ul>li.curr>a{color: #f80}


#slider{position: relative;width: 100%;margin-bottom: 1%;}
#slider>a{background-position: center center;
    background-size: cover;  display: none;}
#slider>.curr{display: block;width: 100%;padding-top: 40%;}
#slider>#li{position: absolute;left: 50%;transform: translate(-50%, 0);bottom:5%;}
#slider>#li>li{list-style: none; width: 10px;height: 10px; background-color: #ccc; border-radius: 50%; margin-right: 5px; float: left; cursor: pointer;}
#slider>#li>.on{ background-color: #f50;}

#home{display: flex;flex-flow: row wrap;justify-content: space-between;}
#home>dl{width: 75%;}

.choice{width:100%;position: relative;align-items: center;background-color: #fff;display: flex;flex-flow: row wrap;padding: 10px 10px 0;font-size: 14px;}
.choice *{padding:2.5px 7.5px;}
.choice a.curr{opacity: .8;background: #258dcd;color: #fff;border-radius: 2.5px;}
.choice i{display: none;}

dl{width: 100%;display: flex;flex-flow: row wrap;padding: 5px;margin-bottom:1%;background-color: #fff }
dl>dt{width: 100%;padding: .5%;}
dl>dd{position: relative;width: 20%;padding: .5%;overflow: hidden;display: flex;flex-flow:row wrap;}
dl>dd>a{width: 100%;padding-top: 140%;display: block;background-size: 100% ;background-position: center center;position: relative;}
dl>dd>a>em{position: absolute;top:0px;right: 10px;background-color: #f80;color: #fff;padding: 2.5px 5px;font-size: 12px;border-radius: 0 0 5px 5px;}
dl>dd>div{min-height: 43px;width: 100%;padding:5px;background-color: #f8f8f8;}
dl>dd>div>p{word-break: keep-all;white-space: nowrap;overflow: hidden;}
dl>dd>div>p:first-of-type{font-size: 14px;color: #333}
dl img{display: none;}


#mk{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
#mk i{width: 50px;height: 50px;}
#mk i svg{fill: #fff}

aside{padding: .5%;background-color: #fff;margin-bottom:1%;}
aside>h2{padding: .5%;display: flex;align-items: center;justify-content: space-between;padding-bottom: 10px}
aside>div{background:#efefef;height: 150px;text-align: center;line-height: 150px;}
aside>ol{list-style-position:inside;list-style-type: cjk-ideographic;}
aside>ol>li{line-height: 24px;margin: 7.5px}
aside>ol>li>i{float: right;}
aside>ol>li:nth-child(1)::marker{color: #f40;}
aside>ol>li:nth-child(2)::marker{color: #f60;}
aside>ol>li:nth-child(3)::marker{color: #f80;}
aside>ol>li:nth-child(4)::marker{color: #fb0;}


article{position: relative;}
figure{width: 100%;height: 562.5px;margin: 1% 0;background-color: #000}
article h2{color: #333}
section dl>dd{width: 25%}
section dl>dd>a{padding-top:   60%}
.info {width: 100%;display: flex;flex-flow: row wrap;background-color: #fff; padding:  12.5px;margin-bottom: 12.5px;}
.info h1{margin-bottom: 10px;color: #333}
.info h1>em{color: #072;float: right;font-weight: 100;font-size: 14px;}
.info ul{flex: 1;font-size: 14px;}
.info ul li{margin-bottom: 8px;height: 20px;overflow: hidden;}
.info>.logo{border-radius: 5px;background-size: 100%;width: 210px;height: 280px;margin-right: 20px;}
.info img{display: none;}
.info .play{background-color: #f80;color: #fff;padding:7.5px 15px;display: inline-block;border-radius: 5px;}
.info .desc{position: relative;margin-top: 12.5px;line-height: 2;
    font-size: 14px;
    text-indent: 2em;
    background: #eee;
    padding: 0 1em;
    border-radius: 5px;width: 100%;max-height: 10em;overflow: hidden;}
.info .show{height: unset;}
.info i{background-color: #eee;display: block;color: #072;position: absolute;right: 1em;bottom:0em;}
.tabs{padding:5px;margin-bottom: 12.5px;background-color: #fff}
.tabs>h2,.tabs>.tab{padding: 7.5px;}
.tabs .tab{display: flex;}
.tabs .tab li{margin-right: 12.5px;display: flex;align-items: center;}
.tabs .tab li>img{width: 17px;height: 17px;margin-right: 3px;}
.tabs>.tab>li.active{color: #f80;}
.tabs .content>.active{display: flex;flex-flow: row wrap;}
.tabs .content>li>a{margin: 7.5px;border:1px solid #369;border-radius: 2.5px;padding: 5px 10px;}
.tabs .content>li>a.active{color: #f80;border-color: #f80}

#pager{width:100%;;display: flex;flex-flow: row;justify-content: center;margin-bottom: 12.5px}
#pager>li{padding: 7.5px 15px;margin: 0 7.5px;background-color: #fff;}

#search nav input{display: block;}
@media screen and (max-width: 1000px) {
    main,nav{width:835px; }
    section,#home>dl{width: 100%;}
    aside{display: none;}
    figure{height: 469.6875px;}
}
@media screen and (max-width: 835px) {
   main,nav{width:670px; }
   dl>dd{width: 25%;}
   section dl>dd{width: 33.33%}
   figure{height: 376.875px;}
   #home dl>dd:nth-child(10){display: none;}
   #home dl>dd:nth-child(11){display: none;}
   
   
}
@media screen and (max-width: 670px) {
   main,nav{width:505px; }
   #home dl>dd{width: 33.33%;}
   #home dl>dd:nth-child(10){display: unset;}
   figure{height: 284.0625px;}
   .choice{height: 35px;overflow: hidden;padding-right: 30px;}
   .show{height: auto;padding-right:12.5px }
   .choice i{background-color: #fff;display: block;cursor: pointer;position: absolute;right: 0}
   .show i{position: unset;right: unset;}
}

@media screen and (max-width: 505px) {
    main,nav{width:100%; }
    main{padding-top: 10px;}
    dl{margin-bottom: 10px;padding: 5px;}
    #slider{margin-bottom: 0;margin-top: -10px;}
    figure{height: 56.25vw;}
    nav>ul>li{padding: 5.5px;}
    dl>dd{width: 33.33%;}
    nav i,nav h1{display: unset;}
    nav>input{display: none;}
    .info>.logo{width: 120px;height: 150px;}
    .info .play{display: none;}
    .info ul li{margin-bottom: unset;}
    .info ul li:nth-child(8){display: none;}
    .info .desc{height: 8em}
}

/*选项卡*/
.tabs>.tab>*{cursor: pointer;}
.tabs>.content>li {display: none;}

#source{margin-top: 0;}
#source>p{line-height: 2;width: 90%;margin: 0 auto;text-align: right;color: red}
#source>p>em{padding: 1em;font-size: 16px;}
#source h1{text-align: center;line-height: 2;}
#source table{color: #369;border-spacing: 1px;background-color: #eee;margin: 0 auto;width: 90%;text-align: center;margin-bottom: 12.5px;}
#source td,#source th{background-color: #fff;padding:10px;}


q{
    box-shadow: 0 0 1vw rgba(0,0,0,.15);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #4CAF50;
    padding: 10px;
    color: #fff;   
}
q::before,q::after{content: none;}
q.err{background-color: #FF9800}


dialog{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 75vw;
    max-width: 350px;
    box-shadow: 0 0 1vw rgba(0,0,0,.15);
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px 0 0; 
}
dialog h2{display: inline-block;
    margin: 0;
    color: rgb(153, 153, 153);
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
    user-select: none;
    font-weight: 100;padding: 0}
dialog button{color: #fff;
    line-height: 45px;
    width: 50%;
    border-radius: 10px;
    background: #f80;}
dialog>.content>li{justify-content: center;}
dialog .tab li{margin: 10px;font-size: 16px;}
dialog input,dialog button{margin: 10px;position: relative;}
dialog input{
width: 75%;
    line-height: 45px;
    border-radius:10px;
    padding: 0 1em;
    color: #9199a1;
    font-size: 12px;
    box-shadow: -1px -1px 1px #eee inset;
    background: #f3f5f6;
}
