*{box-sizing: border-box;margin: 0; padding: 0;border:0;outline: none;list-style: none;font-style: normal;}

a { text-decoration: none; color: #369; }
body {background: #f2f3f4;color: #999; font: 12px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;}
main,article{margin:auto;max-width: 1000px ;background: #fff;overflow: hidden;}
main{background: #fff;}
:focus { outline: none; }
::-webkit-search-cancel-button { display: none; }
::-webkit-scrollbar {display: none;}
.choice{display: flex;flex-flow: row wrap;padding: 5px 15px;font-size: 14px;}
.choice a{padding:2.5px 10px;}
.choice a.curr{opacity: .8;background: #258dcd;color: #fff;border-radius: 2.5px;}

.list{display: flex;flex-flow: row wrap;padding: 5px; }
.list h2{width: 100%;}
.list li{position: relative;background: #f8f8f8;width: 150px;margin: 7.5px;overflow: hidden;display: flex;flex-flow:row wrap;}
.list a{margin-bottom: 5px;width: 100%;height: 200px;display: block;background-size: 100% ;background-position: center center;position: relative;}
.list a em{position: absolute;top:0px;right: 10px;background-color: #f80;color: #fff;padding: 2.5px 5px;font-size: 12px;border-radius: 0 0 5px 5px;}
.list p{width: 140px;padding: 0 0 5px 5px;overflow: hidden;word-break: keep-all;white-space: nowrap}
.list p:first-of-type{font-size: 14px;color: #333}
.list img{display: none;}


#mk{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
#mk i{width: 50px;height: 50px;}
#mk i svg{fill: #fff}

.rank{margin-bottom: 12.5px;}
.rank dt{display: flex;align-items: center;justify-content: space-between;padding-bottom: 10px}
.rank dd>a{height: 50px;border-top: 1px solid #eee;display: flex;flex-flow: row;align-items: center;}
.rank dd>a>em{color: #999;margin-right: 10px;}
.rank dd>a>span{flex: 1}
.rank dd>a>em.c0{color: #f80;}
.rank dd>a>em.c1{color: #f90;}
.rank dd>a>em.c2{color: #fa0;}
.rank dd>a>em.c3{color: #fb0;}



article{position: relative;}
#player{width: 100%;height: 562.5px;margin-bottom: 12.5px;background-color: #000}
article h2{color: #333}
.info {display: flex;flex-flow: row wrap; margin: 12.5px;}
.info h1{margin-bottom: 10px;color: #333}
.info h1>em{color: #072;float: right;font-weight: 100;font-size: 14px;}
.info ul{flex: 1;font-size: 14px;}
.info ul li{margin-bottom: 8px;}
.info>.logo{border-radius: 5px;background-size: 100%;width: 210px;height: 280px;margin-right: 20px;}
.info img{display: none;}
.info .play{background-color: #f80;color: #fff;padding:7.5px 15px;display: inline-block;border-radius: 5px;}
.info .desc{margin-top: 12.5px;line-height: 2;
    font-size: 14px;
    text-indent: 2em;
    background: #eee;
    padding: 10px;
    border-radius: 5px;width: 100%}
.tabs{padding: 0 12.5px 5px;}
.tabs .tab{display: flex;padding-top: 12.5px}
.tabs .tab li{margin-right: 12.5px;display: flex;align-items: center;}
.tabs .tab li>img{width: 17px;height: 17px;margin-right: 3px;}
.tabs>.tab>li.active{color: #f80;}
.tabs .content>.active{display: flex;flex-flow: row wrap;padding: 5px;}
.tabs .content>li>a{margin: 7.5px;border:1px solid #369;border-radius: 2.5px;padding: 5px 10px;}
.tabs .content>li>a.active{color: #f80;border-color: #f80}
article>.left{width: 737.5px;float: left;}
article>.right{width: 240px;float: right;margin-right: 12.5px;}
article .list{}
article .list h2{padding-left: 12.5px;}
article .list li{background-color: #fff;width: 166.875px}
article .list a{height: 100px;border-radius: 5px;}
.vBanner{
    display: block;
    /*position: absolute;*/
    left: -5%;
    top: -5%;
    z-index: -1;
    width: 110%;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    filter: blur(60px);
    -webkit-filter: blur(60px);
    transition: .5s 0s all ease-out;
    -webkit-transition: .5s 0s all ease-out;	
}

@media screen and (max-width: 1000px) {
    main,article{width:835px; }
    article .list li{width: 191.25px;}
    article>.left{width: 100%;}
    article>.right{display: none;}
    #player{height: 469.6875px;}
}
@media screen and (max-width: 835px) {
   main,article{width:670px; }
   article .list li{width: 150px;}
   #player{height: 376.875px;}
   
}
@media screen and (max-width: 670px) {
   main,article{width:505px; }
   /*article>.left{width: 465px;}*/
   #player{height: 284.0625px;}
}

/*选项卡*/
.tabs>.tab>*{cursor: pointer;}
.tabs>.content>li {display: none;}

