html{position: relative;height: 100%;}

#top{height: 56px;width: 100%;background:#00aaff;position: fixed;top: 0;line-height: 56px;z-index: 2;box-shadow: 0px 0px 20px 3px #00aaffa6;}
#nav{position: absolute;z-index: 3; overflow-x: hidden;overflow-y: scroll; left: 0;top: 56px;width: 167px;background: #1c2b36;border-left: 1px solid #00aaff}
#wrap{position: absolute;left: 168px;top: 56px;}

#top h1{margin: 0}
#top a{color: #fff;font-size: 14px;padding: 0 10px;}
#top span{float: right;padding-right: 10px;color: #fff;}
#top img{width: 30px;border-radius: 30px;}
#nav::-webkit-scrollbar {display: none;}
#nav dl{}
#nav dl dd.show{display: block;}
#nav dl dt{border-bottom: 1px solid #17232c;z-index:3}
#nav dl dt i{float: right;padding-right: 18px;}
#nav dl dd{display: none;background: #131e25;}
#nav dl dd:hover{background: #1c8ee5;}
#nav dl dd.this{background: #00aaff;}
/*#nav dl dt:hover,#nav dl dt.this{box-shadow: 0 0 10px #000}*/
#nav dl dt.this .layui-icon-triangle-r:before {
    content: "\e625";
}
#nav span,#nav p,#nav a{padding-left: 24px; display: block;height: 40px;line-height: 40px;cursor: pointer;color:#8dacc4;}
#nav dd:hover p,#nav dd:hover a,#nav dd.this p,#nav dd.this a {color:#fff;}

#hello{text-align: center;position: absolute;bottom: 0;width: 100%}

/*Layui样式表重构*/
/*调整弹窗表单样式*/
.fm{padding: 0 5px;text-align: center;}
.fm input,.fm select,.fm textarea,.fm span{margin: 5px auto;}
.fm span{display: block; border:1px solid #e6e6e6;border-radius: 2px;height: 38px;text-align: left;}
.fm span em{height: 38px;line-height: 38px;padding: 0 10px;font-style: inherit;color:#777;}
.fm span .layui-form-radio{margin: 0;}
/*调整table的边距为0*/
.layui-table, .layui-table-view{margin: 0}
.layui-table-cell{padding: 0;text-align: center;}
.layui-table[lay-size=sm] .layui-form-switch{height: 20px;line-height: 20px;border: 0}
.layui-table[lay-size=sm] .layui-form-switch i{height: 14px;width: 14px;}

/*搜索框样式表修正*/
.so{position: absolute;top:9px;right: 5px;z-index: 9999999}
.so .layui-form-select{width: 100px;float: left;}
.so .days{width: 180px;float: left;}
.so .layui-input,.so .layui-select,.so .layui-textarea{height: 30px;}

/*基础样式操作*/
.fl{float: left;}