html{
    background: #ccc;
}
body {
    line-height: 24px;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    color: #1d1d1d;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

blockquote,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

a:active,a:hover {
    outline: 0
}

img {
    border: none
}

li {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h4,h5,h6 {
    font-size: 100%
}

button,input,optgroup,option,select,textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}

hr {
    height: 1px;
    margin: 10px 0;
    border: 0;
    clear: both
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    color: #777
}

a cite {
    font-style: normal;
    *cursor: pointer
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

header{
    width: 100%;
    max-width: 768px;
    position: fixed;
    top:0;
    z-index: 999;
    box-shadow: 0 0 15px #ccc;
}
nav{
    position: relative;
    width: 100%;
    height: 35px;
    overflow: hidden;
}

nav ul{
    padding-left: 70px;
    background: #9a3299;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.third_nav{
    position: relative;
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.third_nav ul{
    background: #fefefe;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

nav li,.third_nav ul li{display: inline-block;}

nav li a {color: #fff;display: block;padding: 0 10px;font-size: 13px;line-height: 35px;}
nav li a:hover{color: #fff}
.third_nav ul li a{
    color: #888;
    font-size: 12px;
    padding: 0 8px;
    line-height: 25px;
}

nav ul li.this,nav ul li:hover{
    background: #c331c2;
}
nav ul li.this{
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 70px;
}
.third_nav ul li.this,.third_nav ul li:hover{
    background: #fefefe;
}
.third_nav ul li.this a,.third_nav ul li:hover a{
    color: #9a3299;
}

.dot{
    background: url(images/point.png) repeat-x;
    height: 1px;
    display: blcok;
    width: 100%;
    margin: 9px 0 12px 0;
}

article{
    padding: 0 10px;
    background: #fff;
}

article h1{
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    padding: 9px 0;
    color: #9a3299;
}
article h2 {
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #828282;
}

article .content{
    font-size: 17px;
    line-height: 1.5em;
    height: 200px;
    text-indent: 2em;
    overflow: hidden;
}

article .all{
    height: auto;
}

article .content img{
    width: 80%;
    display: block;
    margin: 7px auto;
    border-radius: 5px;
}

article .more_box{
    text-align: center;
    position: relative;
    padding: 12px 0 12px 0;
}
article .more{
    position: absolute;
    top: -78px;
    height: 78px;
    width: 100%;
    z-index: 666;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0) 0, #FFFFFF 100%);
}

article .more:after {
    content: '.';
    display: inline-block;
    background-image: url(images/more.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-top: 45px;
    height: 16px;
    width: 16px;
    animation: unfold-arrow-animation 300ms infinite alternate;
}

article .more_box .none{
    display: none;
}
article .more_box a{
    background: #9a3299;
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 37px;
    line-height: 37px;
    font-size: 15px;
    color: #fff;
}


dl dd {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #eee;
    display:block;
    overflow:hidden;
}

dl dd h5{
    font-size: 17px;
    color: #000;
    font-weight: 600;
    padding-bottom: 5px;

}

em{
    float: right;
    font-style: normal;
    color: #ccc;
    font-size: 12px;
}




dl dd  img {
    width: 33%;
    /*height:90px;*/
}

dl dd img:nth-child(3){
    padding: 0 .5%;
}


.pt60{padding-top: 60px;}
.pt50{padding-top: 50px;}
.pt35{padding-top: 35px;}

#pager{
    display: block;
    overflow: hidden;
    clear: both;
    background: #fff;
}
#pager li{
    display: block;
    width: 50%;
    float: left;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;

}
#pager span,#pager a{
    display: inline-block;
    margin: 0 auto;
    font-size: 12px;
    border:1px solid #eee;
    padding: 10px 25%;
    border-radius: 60px;
}